{% extends "garage.html" %}

{% block head %}
	   <script type="text/javascript">
		   $(document).ready(function () {

		        var hrefValue = "service";
		        setItemMenuActive(hrefValue);
		        setColumnsWidth();
		        selectRow();

		   });


		   validationsArray = [];
		   digitsOnlyValidationArray = ['id_revision_cost'];
		   lettersOnlyValidationArray = ['id_observations', 'id_auto_service_name', 'id_itp'];

	   </script>
{% endblock %}


{% block title %}Revisions{% endblock %}

{% block operations %}
    <input type="button" id="addRecord" onclick="addNewRow()" alt="Add new record" value="Add new row"/>


    <table class="records">
        <thead>
            <tr>
                <th>Revision date</th>
                <th>Observations</th>
                <th>Auto service name</th>
                <th>Revision cost</th>
                <th>Itp</th>
                <th></th>
            </tr>
        </thead>
    </table>
    <div class="tableDiv">
        <table class="records">
            <tbody>
            {% if revisions %}
                {% for record in revisions %}
                    <tr>
                        <td>
                            <input class="recordsTextInput datepicker" type="text" value="{{ record.revision_date }}" name="datepicker" readonly style=" width: 85%;">
                            <input class="altDateField" type="hidden" name="revision_date">
                            <input class="pk" type="hidden" name="pk_revision" value="{{ record.id }}">
                        </td>
                        <td><input class="recordsTextInput" type="text" name="observations" value="{{ record.observations }}" readonly></td>
                        <td><input  class="recordsTextInput" type="text" name="auto_service_name" value="{{ record.auto_service_name }}" readonly></td>
                        <td><input  class="recordsTextInput" type="text" name="revision_cost" value="{{ record.revision_cost }}" readonly></td>
                        <td style="width:80px;">
                            {% if record.itp == "yes" %}
                                <select name="itp" class="recordsTextInput selectList">
                                    <option value="yes" selected>yes</option>
                                    <option value="no">no</option>
                                </select>
                            {% else %}
                                <select name="itp" class="recordsTextInput selectList">
                                    <option value="yes">yes</option>
                                    <option value="no" selected>no</option>
                                </select>
                            {% endif %}
                        </td>
                        <td>
                            <div class="rowOptions">
                                <input type="button" class="saveRowBtn" onclick="saveRowFunction(event)" alt="Save record"/>
                                <input type="button" class="deleteRowBtn" onclick="deleteRowFunction(event)" alt="Delete record"/>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="noRecords"><td>there are no revisions added for this car</td></tr>
            {% endif %}
            </tbody>
        </table>
    </div>


    <form id="newForm" method="post" action="" onsubmit="return validateTempFields()">
        {% csrf_token %}
        <span id="id_observations_tip" class='addNewRecordTip' onclick="closeValidationTip(this)"></span>
        <span id="id_auto_service_name_tip" class='addNewRecordTip' onclick="closeValidationTip(this)"></span>
        <span id="id_revision_cost_tip" class='addNewRecordTip' onclick="closeValidationTip(this)"></span>
        <span id="id_itp_tip" class='addNewRecordTip' onclick="closeValidationTip(this)"></span>
    </form>
{% endblock %}