{% extends "garage.html" %}

{% block head %}
	   <script type="text/javascript">
		   $(document).ready(function () {

		        var hrefValue = "service";
		        setItemMenuActive(hrefValue);
		        setColumnsWidth();
		        selectRow();

		   });


		   validationsArray = [];
		   digitsOnlyValidationArray = ['id_service_cost'];
		   lettersOnlyValidationArray = ['id_description'];

	   </script>
{% endblock %}

{% block title %}Service{% endblock %}


{% block operations %}
    <input type="button" id="addRecord" onclick="addNewRow()" alt="Add new record" value="Add new row"/>


    <table class="records">
        <thead>
            <tr>
                <th>Service date</th>
                <th>Description</th>
                <th>Service cost</th>
                <th></th>
            </tr>
        </thead>
    </table>
    <div class="tableDiv">
        <table class="records">
            <tbody>
            {% if services %}
                {% for record in services %}
                    <tr>
                        <td>
                            <input class="recordsTextInput datepicker" type="text" value="{{ record.service_date }}" name="datepicker" readonly style=" width: 85%;">
                            <input class="altDateField" type="hidden" name="service_date">
                            <input class="pk" type="hidden" name="pk_service" value="{{ record.id }}">
                        </td>
                        <td><input class="recordsTextInput" type="text" name="description" value="{{ record.description }}" readonly></td>
                        <td><input  class="recordsTextInput" type="text" name="service_cost" value="{{ record.service_cost }}" readonly></td>
                        <td>
                            <div class="rowOptions">
                                <input type="button" class="saveRowBtn" onclick="saveRowFunction(event)" alt="Save record"/>
                                <input type="button" class="deleteRowBtn" onclick="deleteRowFunction(event)" alt="Delete record"/>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="noRecords"><td>there are no services added for this car</td></tr>
            {% endif %}
            </tbody>
        </table>
    </div>



    <form id="newForm" method="post" action="" onsubmit="return validateTempFields()">
        {% csrf_token %}
        <span id="id_description_tip" class='addNewRecordTip' onclick="closeValidationTip(this)"></span>
        <span id="id_service_cost_tip" class='addNewRecordTip' onclick="closeValidationTip(this)"></span>
    </form>
{% endblock %}


