{% extends "base.html" %}

{% block head %}
	  {% load staticfiles %}
	   <script type="text/javascript">
           var userID = {{ userID }}
           console.log('User ID = ' + userID);
           var userCars;

          $(document).ready(function () {
                var carNum = 0;
                $.get("/cars/user/" + userID + "/", function (result) {
                    //console.log(JSON.stringify(result));
                    var options = $('#userCars');
                    $.each(result, function() {
                        carNum ++;
                        options.append($("<option />").val(this.carID).text(this.manufacturer_name+" "+this.model_name));
                    });
                    if(carNum > 1){
                        $('#carNum').text('My cars');
                    }
                    else {
                        $('#carNum').text('My car');
                    }
                });
          });
	   
	   </script>	 
{% endblock %}

{% block title %}Garage{% endblock %}

{% block content %}

	
	

         <div id="header">
             <div id="carOptions">
                <a href="/logout/">Click here to logout</a><br>
                <span id="carNum"></span>
                <select id="userCars" style="color:black;">
                </select>
             </div>
	     </div>

        <div id="borderDiv">
            <div id="garageLeft" >
                <div id="navlist">

                    <button type="button" id="refuellingsButton" class="sectionsButton">Refuellings</button>
                    <button type="button" id="cleaningsButton" class="sectionsButton">Cleanings</button>
                    <button type="button" id="serviceButton" class="sectionsButton">Service</button>

                    <div class="imgListItemBinding">
                        <img class="menuImgs" src="{% static 'myGarage/img/revision.png' %}">
                        <li><a href="/revisions/">Revisions</a></li>
                        <div class="arrow"></div>
                    </div>

                    <div class="imgListItemBinding">
                        <img class="menuImgs" src="{% static 'myGarage/img/taxes.png' %}">
                        <li><a href="/taxes/">Taxes</a></li>
                        <div class="arrow"></div>
                    </div>

                    <div class="imgListItemBinding">
                        <img class="menuImgs" src="{% static 'myGarage/img/umbrella.png' %}">
                        <li><a href="/insurances/">Insurances</a></li>
                        <div class="arrow"></div>
                    </div>

                    <div class="imgListItemBinding">
                        <img class="menuImgs" src="{% static 'myGarage/img/wheel.png' %}">
                        <li><a href="//">Tyres</a></li>
                        <div class="arrow"></div>
                    </div>

                </div>
            </div>

            <div id="garageRight">
               <div id="operations">
                        detalii despre masina sau statistici generale ale masinii/userului
               </div>
            </div>

        </div>

        <div id="footer">
            {% block footer %} {% endblock %}
        </div>

	    
	    

{% endblock %}


