{% extends "base.html" %}

{% block head %}
	  {% load staticfiles %}
	   <script type="text/javascript">
          $(document).ready(function () {
                getUserCars();
          });

       var saveImgSrc = "{% static 'myGarage/img/save.png' %}";
       var deleteImgSrc = "{% static 'myGarage/img/delete.png' %}";

	   
	   </script>	 
{% endblock %}

{% block title %}Garage{% endblock %}

{% block content %}

	
	
<div id="base_garage">
         <div id="header">
             <div id="headerContentWrapper_garage">
                 <div id="logoDivContainer">
                     <div id="logoDiv">
                         <div id="enterShape_top"></div>
                         <div id="enterShape_bottom"></div>
                         <div id="enterDiv">enter</div>
                         <div id="garageDiv">Garage</div>
                     </div>
                 </div>
                 <div id="carOptions">
                    <a href="/logout/" style="float:right;">Click here to logout</a><br>
                    <span id="carNum" style="margin-left:10px; "></span>
                    <select onchange="selectCarHandler()" id="userCars" style="color:black; float:right;">

                    </select>
                 </div>
             </div>


	     </div>

        <div id="borderDiv">

            <div id="buttonsMenuContainer">

                <div id="buttonsMenu">
                    <button type="button" id="refuellingsButton" class="sectionsButton" onclick="setButtonActive(this);">Refuellings</button>
                    <button type="button" id="cleaningsButton" class="sectionsButton" onclick="setButtonActive(this);">Cleanings</button>
                    <button type="button" id="servicesButton" class="sectionsButton" onclick="setButtonActive(this);">Services</button>
                    <button type="button" id="revisionsButton" class="sectionsButton" onclick="setButtonActive(this);">Revisions</button>
                    <button type="button" id="taxesButton" class="sectionsButton" onclick="setButtonActive(this);">Taxes</button>
                    <button type="button" id="insurancesButton" class="sectionsButton" onclick="setButtonActive(this);">Insurances</button>
                    <button type="button" id="tyresButton" class="sectionsButton" onclick="setButtonActive(this);">Tyres</button>
                </div>

            </div>

            <div id="garageContentContainer">

                <div id="garageContent">
                   <table id="tableRecords">
                       <thead></thead>
                       <tbody id="contentBody"></tbody>
                       <tbody id="emptyBody"></tbody>
                   </table>
                    <input type="button" id="addNewRecordBtn" alt="Add new record" value="Add new record"/>
                </div>

            </div>

        </div>

        <div id="footer">
            {% block footer %} {% endblock %}
        </div>
</div>
	    
	    

{% endblock %}


