/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
}

/*End RESET - Begin Full Width CSS*/

/*override material design theme popover*/
.popover{
    #color: #C52D08;
    color: #FFFFFF;
    #background-color: #ffffb2;
    background-color: #c45d5b;
    border-radius: 5px;       
    font-size: 15px;    
}

.popover.left .arrow:after,
.popover.left .tooltip-arrow {
	border-left-color: #c45d5b;
}

.popover.right .arrow:after,
.popover.right .tooltip-arrow {
	border-right-color: #c45d5b;
}

.popover.top .arrow:after,
.popover.top .tooltip-arrow {
	border-top-color: #c45d5b;
}

.popover.bottom .arrow:after,
.popover.bottom .tooltip-arrow  { 	
 	border-bottom-color: #c45d5b;
}
/* end of popover overriding style */


/* override date picker style */
div.ui-widget-header {
	background-image: none;
	background-color: #7d8c63;
}


span.ui-icon {
	background-image: none;
	background-color: #7d8c63;
}



a.ui-state-hover, 
div.ui-widget-content a.ui-state-hover, 
div.ui-widget-header a.ui-state-hover, 
.ui-state-focus, 
div.ui-widget-content .ui-state-focus, 
div.ui-widget-header .ui-state-focus {
	background-image: none;
	background-color: #7d8c63;
	border: none;

}


div.ui-widget {
	font-size: .9em;
}

div.ui-datepicker table {
	margin: 0 0;
}

div.ui-widget-content {
	background-image: none;
	background-color: white;
}

div.ui-datepicker tbody td > a[href="#"] { 
	background-image: none;
	background-color: #edf0f5;
	border: 1px solid #edf0f5;
}

div.ui-datepicker tbody td > a[href="#"].ui-state-hover { 
	background-image: none;
	background-color: white;
	border: 1px solid white;
} 

div.ui-datepicker tbody td > a[href="#"].ui-state-highlight { 
	background-image: none;
	background-color: #e58700;
	border: 1px solid #e58700;
} 

div.ui-datepicker tbody td.ui-datepicker-other-month > a{
	background-image: none;	
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	
}



div.ui-datepicker td span, div.ui-datepicker td a {
	padding: 0;
}


div.ui-datepicker {
	width: 13em;
}
/* end of datepicker overriding style */


body {
    background-color: #90c140;
}

h2{	
	line-height: 30px;
	margin-bottom: 5px;
}

#header{     
	#background-color:#f1f1f1; 
	background-color:#edf0f5;
	height:80px;
	width:100%;
	min-width: 1060px;
	float:left; 		
}

#carOptions {
	height: 40px;
	width: 200px;
	float: right;	
	margin: 5px 20px 0 0;	
}

#header_hr{
	margin:0; 
	padding:0; 
	height:2px; 
	background-color: #f1f1f1; 
	min-width:1060px; 
	clear:both; 
	float:none; 
	border:none;  
	background-image: -webkit-gradient(
      linear,
      left bottom,
      right bottom,
      color-stop(0, rgb(232,242,216)),      
      color-stop(0.1, rgb(221,236,197)),      
      color-stop(0.4, rgb(210,230,178)),
      color-stop(0.5, rgb(199,224,159)),
      color-stop(0.6, rgb(210,230,178)),     
      color-stop(0.9, rgb(221,236,197)),           
      color-stop(1, rgb(232,242,216)));    
	background-image: -moz-linear-gradient(
	    left center,
	    rgb(232,242,216) 0%,
	    rgb(221,236,197) 10%,
	    rgb(210,230,178) 40%,
	    rgb(199,224,159) 50%, 
	    rgb(210,230,178) 60%,
	    rgb(221,236,197) 90%,    
	    rgb(232,242,216) 100%); 
}

label {
	color: #7d8c63;
}

#login_form input[type=text], input[type=password]{
	width:160px;	
	height: 25px;	
}

#login{    
    #background-color: blue;  
    width:450px;
    height: 70px;
    float: right; 
    margin:-40px 20px 0 590px;     
}

#username_login{
    #background-color: yellow;
    width: 180px;
    height:25px;
    margin: 20px 0 0 0;
    float:left;    
}

#password_login{
    #background-color: green;
    width: 180px;
    height:25px;
	float:left;
	margin: 20px 0 0 3px;		
}

#login_button{	
	width: 75px;
	height: 25px;
	padding: 0;
	margin: 40px 10px 0 0;		
		
}

#appMotto{
    #background-color:red;
    width:420px;
    position: relative;
    top: 30px;
    left: 40px;
    float: left;
	#color: #545453;
	#color: #627aac;
	#color: #8b9c6f;
	color: #7d8c63;
	#font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; 
	font-size: 35px;
	font-weight: bold;	
}

#base{	
	height:600px; 
	#background-color:#f1f1f1; 
	background-color:#edf0f5;
	min-width:1060px;
	position: relative;
	top:0px;  
	margin:0 auto;
	padding:10px;
}

#borderDiv{    
	min-width: 1000px; 
	height:450px; 
	background-color:white;		
	margin: 20px 30px;	
	border-color: #f9fafc; 	
}

#leftside{	 
	width: 40%;
	height: 400px;
	float:left;	
	padding: 30px; 
	#margin: 20px 5px 10px 30px;	
}

.register_form > input[type=text], 
.register_form > input[type=password], 
#carRegister input[type=text] {
	width:290px;
	height: 40px;
	margin:0 0 10px 0;	
	line-height: 20px;
	padding: 8px 10px;
	font-size: 18px;	
	border-radius: 3px;	
}

input[type=text].validationAlert, input[type=password].validationAlert {
	border: 1px solid #c45d5b !important;	
	background-image: url("../img/problemIcon.png");	
    background-position: 99.99% 25%;
    background-repeat: no-repeat;
	
}

input[type=text].noValidationAlert, input[type=password].noValidationAlert {
	background-image: none;
	border: 1px solid #b9c3a8;
}

#carRegister input[type=text] {
	width: 144px;
}

#signUpBtn {
	padding:10px 44px;
	margin: 30px 0;	
}

.errorlist{
	list-style-type: none;
	color: red;
	float: right;	
	padding:0;
	margin:0;
	word-wrap: normal;	
}

#rightside{	 	 
	height:300px;
	width: 45%;
	float: right;
	margin:60px 20px 10px 0px;		
}


#garageLeft {
	width: 14%;
	height: 400px;
	float:left;	
	margin: 20px 3% 0px 40px;	
}

#garageRight {
	#height:400px;
	width: 75%;
	float: left;
	margin: 20px 0px 0px 10px;	
	
}

#submenu {
    #position: absolute;
	width: 80%;
	height: 50px;
	#background-color: red;	
	border-radius: 7px;	
	#float:center;		
	bottom: 0.1%;
	margin-left: auto;
	margin-right: auto;
	#margin-top: 50%;
}

#addRecord {
	background-image: url("../img/addRecord.png");
	background-color: #7d8c63;
	background-repeat: no-repeat;
	background-position: 60% 65%;
	#background-position: left;
	padding: 10px 30px 10px 10px;	
    height: 40px;
	margin: 5px;
	border-radius: 3px;
	border: 2px solid #7d8c63;
	box-shadow: 3px 3px 4px 1px rgba(50, 50, 50, 0.4);
	outline:none;
}


#addRecord:hover {
	background-image: url("../img/addRecord_hover.png");
}

#addRecord:disabled {
	background-image: url("../img/addRecord_disabled.png");
	background-color: #b0b0b0;
	border: 2px solid #b0b0b0;
	box-shadow: 2px 2px 4px 0.1px rgba(50, 50, 50, 0.3);	
	#box-shadow: none;
}

#addRecord:active {
	background-color: #7D8863;
	background-image: url("../img/addRecord_pressed.png");
	box-shadow: 2px 2px 4px 0.1px rgba(50, 50, 50, 0.3);
	border: 2px solid #7d8863;
}

#operations {
    position: relative;
	width: 100%;
	#height: 400px;
	#background-color: green;
	float:left;
	background-color:white;	
	border-color: #f9fafc;
	padding: 30px 30px 10px 30px;		
}

#newRow {
	position: absolute;
	width: 98%;
	height: 70px;
	padding: 2px 10px;
	bottom: 60px;
	left: 5px;
	background-color: #ffffff;
	display: none;	
	border: 1px solid #DEDEDE;
	
}


.tableDiv{
	width: 100%;
	height:174px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	overflow-y:scroll; 	
}



.records {
	width: 100%;
	#margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.records thead {
	color: #ffffff;
	background-color: #8a9772;
	width: 95%;
}

.records th, 
.records td {
	border: 1px solid #8a9772;	
	padding: 5px 5px;	
}

.addNewRecordTip {
	color: #e58700;
	float: left;
	margin-left: 10px;
	font-size: 13px;
}

#tempTable {    
	width: 75%;		
	margin-left: 10px;
	#margin-top: 5px;
	float: left;
	background-color: white;
}

#tempTable thead {
	color:  #7d8c63;	
}

#tempTable th,
#tempTable td {
	border: 1px solid #7d8c63;
	padding: 0px 5px;
	background-coheight: 30px;
}

.tempInput {	
	height: 100%;
	width: 90%;
	border: none;
	background-color: white;
	padding: 0px 5px;	
}

.tempInput:focus {
	#outline: 1px solid #edf0f5;
	outline: 1px solid #a4ae91;
}

#newRowBtns {
	float: right;
	width: 20%;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 15px; 
	color: white;
}

.btnNewRow {
	float: right;
	width: 60px;
	background-color: #7d8c63;
	border: 1px solid #7d8863;
}

.btnNewRow:hover {
	color: #e58700;
} 

#cancelNewRecord {		
	margin-right: 10px;
}

div.addBorderShade {
	border-radius: 7px; 	 
	box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.3);
	border: 1px solid; 
}

div.diminishedBorderShade {
	border-radius: 7px; 	 
	box-shadow: 0px 0px 12px 0px rgba(111, 111, 111, 0.3);
	border: 1px solid; 
}

#navlist{
    width: 200px;
    list-style-type: none;   
    #color: #7d8c63;
    
}

li a:link, a:visited  {
    text-decoration: none;
    color: #7d8c63;        
}

li a:hover {
    text-decoration: none;
    color: #7d8c63;    
    #background-color: #E1E3E6; 
    background-color: #d5d8dc;  
}

li a:active {
    text-decoration: none;
    color: #7d8c63;           
}

li a  {   
    display: block;      
    font-size: 20px;
    border-bottom: 1px solid #7d8c63;
    width: 160px;
    height: 45px;
    padding: 7px 30px;
    text-align:left;    
    color: #7d8c63;    
}

.imgListItemBinding {
	position:relative;
}

#active a {
	width:180px;
	background-color: #7d8c63;	
	color: white;		
}

#arrow {
	width: 0; 
	height: 0; 
	border-top: 22.5px solid transparent;
	border-bottom: 22.5px solid transparent;	
	border-left: 22.5px solid  #7d8c63;
	position: absolute;
	top: 0px;
	left: 180px;	
	visibility: hidden;	
}


.menuImgs {
	position:absolute;
	left:5px;
	bottom:10px;

}




