


/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
}

/*End RESET - Begin Full Width CSS*/

	

#login_form input[type=text], input[type=password]{
	width:160px;	
	height: 20px;
	
}



#register_form input[type=text], #register_form input[type=password]{
	width:290px;
	margin:0px 5px 10px 0px;	
	line-height: 20px;
	padding: 8px 10px;
	font-size: 18px;
	border: 1px solid #bdc7d8;

}

#carRegister input[type=text] {
	width: 130px;


}


h2{
	#font-size: 26px;
	#font-weight: bold;
	line-height: 30px;
	margin-bottom: 5px;
}


.errorlist{
	list-style-type: none;
	color: red;
	float: right;	
	padding:0;
	margin:0;
	word-wrap: normal;
	
	
}


#header{     
	#background-color:#f1f1f1; 
	background-color:#edf0f5;
	height:80px;
	float:left; 		
}

#header_hr{
	margin:0; 
	padding:0; 
	height:2px; 
	background-color: #f1f1f1; 
	min-width:1060px; 
	clear:both; 
	float:none; 
	border:none;  
	background-image: -webkit-gradient(
      linear,
      left bottom,
      right bottom,
      color-stop(0, rgb(232,242,216)),      
      color-stop(0.1, rgb(221,236,197)),      
      color-stop(0.4, rgb(210,230,178)),
      color-stop(0.5, rgb(199,224,159)),
      color-stop(0.6, rgb(210,230,178)),     
      color-stop(0.9, rgb(221,236,197)),           
      color-stop(1, rgb(232,242,216))
  );  
  
	background-image: -moz-linear-gradient(
	    left center,
	    rgb(232,242,216) 0%,
	    rgb(221,236,197) 10%,
	    rgb(210,230,178) 40%,
	    rgb(199,224,159) 50%, 
	    rgb(210,230,178) 60%,
	    rgb(221,236,197) 90%,    
	    rgb(232,242,216) 100%
	); 
}

#login{    
    #background-color: blue;    
    width: 440px;
    height: 70px;
    float: right; 
    margin-right:20px;  
    margin-left:600px; 
    margin-top:-40px;
  
    
}

#username_login{
    #background-color: yellow;
    width: 180px;
    position: relative;
    float: left;
    top: 20px;
    
}

#password_login{
    #background-color: green;
    width: 180px;
	position: relative;
	float:left;
	top: 20px;	
	left:5px;
}

#login_button{
	position: relative;
	top: 38px;
	left: 10px; 	
	float:left;	
}


#appMotto{
    #background-color:red;
    width:420px;
    position: relative;
    top: 30px;
    left: 40px;
    float: left;
	#color: #545453;
	#color: #627aac;
	color: #8b9c6f;
	#font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; 
	font-size: 35px;
	font-weight: bold;
	 
	
}


#base{	
	height:600px; 
	#background-color:#f1f1f1; 
	background-color:#edf0f5;
	min-width:1040px;
	position: relative;
	top:0px;  
	margin:0 auto;
	padding:10px;
}


#borderDiv{    
	min-width: 1000px; 
	height:450px; 
	background-color:white;		
	margin: 20px 30px;	
	border: 2px solid; 
	border-radius: 25px; 
	border-color: #DEDEDE; 
	box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.3);
}

#leftside{	 
	width: 40%;
	height: 400px;
	float:left;	
	padding: 10px; 
	margin: 20px 0px 10px 30px;
	
	
}

#rightside{	 	 
	height:300px;
	width: 45%;
	float: right;
	margin:60px 20px 10px 0px;		 	
	
	
}

#navlist{
    width: 220px;
    list-style-type: none;   
}

li a:link, a:visited  {
    text-decoration: none;
    color: #67804F;    
}

li a:hover {
    text-decoration: none;
    color: #67804F;
    background-color:  #7FBF3D;
}

li a:active {
    text-decoration: none;
    color: #67804F;    
}

li a  {   
    display: block;     
    font-size: 23px;
    border-bottom: 1px solid #67804F;
    width: 160px;
    padding: 10px 30px;
    text-align:center;
    background-color: #87CC41;
}



