/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End RESET - Begin Full Width CSS*/

/*override material design theme popover*/
.popover{
    color: #FFFFFF;
    background-color: #c45d5b;
    border-radius: 5px;       
    font-size: 15px;    
}

.popover.left .arrow:after,
.popover.left .tooltip-arrow {
	border-left-color: #c45d5b;
}

.popover.right .arrow:after,
.popover.right .tooltip-arrow {
	border-right-color: #c45d5b;
}

.popover.top .arrow:after,
.popover.top .tooltip-arrow {
	border-top-color: #c45d5b;
}

.popover.bottom .arrow:after,
.popover.bottom .tooltip-arrow  { 	
 	border-bottom-color: #c45d5b;
}
/* end of popover overriding style */


/* override date picker style */
div.ui-widget-header {
	background-image: none;
	background-color: #7d8c63;
}


span.ui-icon {
	background-image: none;
	background-color: #7d8c63;
}



a.ui-state-hover, 
div.ui-widget-content a.ui-state-hover, 
div.ui-widget-header a.ui-state-hover, 
.ui-state-focus, 
div.ui-widget-content .ui-state-focus, 
div.ui-widget-header .ui-state-focus {
	background-image: none;
	background-color: #7d8c63;
	border: none;

}


div.ui-widget {
	font-size: .9em;
}

div.ui-datepicker table {
	margin: 0 0;
}

div.ui-widget-content {
	background-image: none;
	background-color: white;
}

div.ui-datepicker tbody td > a[href="#"] { 
	background-image: none;
	background-color: #edf0f5;
	border: 1px solid #edf0f5;
}

div.ui-datepicker tbody td > a[href="#"].ui-state-hover { 
	background-image: none;
	background-color: white;
	border: 1px solid white;
} 

div.ui-datepicker tbody td > a[href="#"].ui-state-highlight { 
	background-image: none;
	background-color: #e58700;
	border: 1px solid #e58700;
} 

div.ui-datepicker tbody td.ui-datepicker-other-month > a{
	background-image: none;	
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	
}



div.ui-datepicker td span, div.ui-datepicker td a {
	padding: 0;
}


div.ui-datepicker {
	width: 13em;
}
/* end of datepicker overriding style */

html {
    height: 100%;
}

body {
    height: 100%;
    min-height:660px;
	min-width:1280px;
    font-family: "Times New Roman", Times, serif;
    background-color: #e9eaeb;
}

h2{	
	line-height: 30px;
	margin-bottom: 5px;
}

#header{
	#background-color :red;
	#background-color: #0f212c;
    background-color: rgba(15,33,44, 0.9);
	height:75px;
	width: 100%;
	min-width : 1280px;
	margin: 0 auto 0;
	#box-shadow: 0 1px 1px #57636b;
	color: white;
	padding: 5px 0 0;
}


#headerContentWrapper {
	width: 800px;
	height:70px;
	position:relative;
	margin: 0 auto;
	padding:0;
	#background-color:red;
	
}

#carOptions  {
	height: 50px;
	width: 215px;
	position: absolute;
	right:0px;
	top: 15px;
	#margin: 5px 20px 0 0;
    color: white;
}

#carOptions a {
    color: white;
}


label {
	#color: #7d8c63;
	color:white;
	text-shadow: 2px 2px black;
}

#login_form input[type=text], #login_form input[type=password]{
	width:160px;	
	height: 25px;	
	#box-shadow: 1px 1px 1px #7d8c63;
	color: black;
}

#login{    
    #background-color: blue; 
    position: relative;
    top:0;
    right: 0;     
    width:440px;
    height: 70px;
    float: right; 
         
}

#username_login{
    #background-color: yellow;
    width: 180px;
    height:25px;
    margin: 20px 0 0 0;
    float:left;    
    
}

#password_login{
    #background-color: green;
    width: 180px;
    height:25px;
	float:left;
	margin: 20px 0 0 3px;
}

#login_button{	
	width: 75px;
	height: 25px;
	padding: 0;
	margin:0;
	margin-top: 20px;
	background-color: #E58700;
	border: 1px solid #b76c00;
	border-radius: 3px;
		
}

#appMotto{
    width:420px;
    position: relative;
    top: 20px;
    left: 0;
    float: left;
	#color: #7d8c63;	
	color: #E58700;
	font-size: 35px;
	font-weight: bold;	
	text-shadow: 2px 2px black;
}

#base{	
	height:100%;
	width: 100%;
	#min-height:560px;
	#min-width:1280px;
	margin:0;
	padding:0;
	background-image: url("../img/ars.jpg");
}

#borderDiv{    
	width: 100%;
	min-width : 1280px;
	min-height:560px;
	height: 85%;
	position: relative;
	top: 0:
	left: 0;
}

#curtain {
    width: 100%;
    height: 100%;
    background-color: rgba(15,33,44, 0.6);
}

#registrationDiv{
    background-color: #f3f5f7;
	width: 410px;
	height: 390px;
	padding: 25px 55px;
	margin: 0 auto;
	position: relative;
	top: 60px;
}

.register_form > input[type=text], 
.register_form > input[type=password], 
#carRegister input[type=text] {
	width:290px;
	height: 40px;
	margin:0 0 10px 0;	
	line-height: 20px;
	padding: 8px 10px;
	font-size: 18px;	
	border-radius: 3px;	
	box-shadow: 0px 0px 1px #9fa6aa;
}

input[type=text].validationAlert, input[type=password].validationAlert {
	border: 1px solid #c45d5b !important;	
	background-image: url("../img/problemIcon.png");	
    background-position: 99.99% 25%;
    background-repeat: no-repeat;
	
}

input[type=text].noValidationAlert, input[type=password].noValidationAlert {
	background-image: none;
	border: 1px solid #9fa6aa;
}

#carRegister input[type=text] {
	width: 144px;
}

#signUpBtn {
	padding:10px 119px;
	margin: 20px 0;	
	border-radius:3px;
	border: 1px solid #b76c00;
	background-color: #E58700;
}

.errorlist{
	list-style-type: none;
	color: red;
	float: right;	
	padding:0;
	margin:0;
	word-wrap: normal;	
}


#garageContent {
	height:auto;
	width: 990px;
	margin-top: 20px;
	background-color: #E9EAEB;
    #border: 1px solid #babbbc;
}


#garageContentContainer {
    background-color:#E9EAEB;
    height: 80%;
    width: 990px;
    margin: 0px auto 0;
    #padding: 10px;
}

.deleteRowBtn {
    background-image: url("../img/trash.png");
    background-repeat:no-repeat;
    margin: 0;
    padding: 0px 8px;
    background-color: inherit;
	border: none;
	outline: none;
	box-shadow: none;
	visibility: hidden;
}

.saveRowBtn {
    background-image: url("../img/save.png");
    background-repeat:no-repeat;
    margin: 0;
    padding: 0px 10px;
    background-color: inherit;
	border: none;
	outline: none;
	box-shadow: none;
	visibility: hidden;

}

#addRecord {
	background: #3F515D url("../img/addRecord.png") no-repeat 5% 50%;
	color: white;
	margin-left: 0;
	margin-bottom:20px;
	padding: 10px 10px 10px 35px;
    height: 40px;
	border-radius: 3px;
	border: 2px solid #3F515D;
	box-shadow: 2px 2px 4px 1px rgba(50, 50, 50, 0.4);
	outline:none;
}


#addRecord:hover {
	background-image: url("../img/addRecord_hover.png");
}

#addRecord:disabled {
    background-image: url("../img/addRecord_disabled.png");
	background-color: #99adb8;
	border: 2px solid #99adb8;
	box-shadow: 1px 1px 2px 1px rgba(50, 50, 50, 0.2);
	color:#DADCDE;
}

#addRecord:active {
    background-image: url("../img/addRecord.png");
	background-color: #3F515D;
	box-shadow: 1px 1px 4px 1px rgba(50, 50, 50, 0.4);
	border: 2px solid rgba(56,72,83,0.5);
}

/*
#operations {
    position: relative;
    margin: 30px auto 0px;
	width: 90%;
	border-color: #f9fafc;
	background-color: white;
}
*/

#newForm {
    margin:0;
    #background-color:red;
	visibility: hidden;
}


.tableDiv{
	width: 100%;
	height:200px;
	margin: 0 auto 0;
	overflow-y:scroll;
	border: 3px solid #e4e8ed;
	border-top: none;
}



.records {
	width: 100%;
	#margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;

}

input.recordsTextInput {
    border: none;
    background-color: inherit;
    width: 95%;
}

.recordsTextInput:focus {
     outline: none;
     background-color: white;
}

#selectedRow td{
   color: #566E7C;
   border: 2px solid #566E7C;
   font-weight: bold;
}


tbody tr:nth-child(even) {
    #background-color: #ffd59a;
    background-color: #ffe0b4;
}

.records thead {
	color: #ffffff;
	background-color: #566e7c;
	width: 95%;
	border: 3px solid #e4e8ed;
	border-bottom: none;
}

.records th, 
.records td {
	border: 1px solid #566e7c;
	padding: 5px 5px;	
}

.addNewRecordTip {
    position: absolute;
    left: 0px;
    top:0px;
	color: white;
	font-size: 13px;
	padding: 5px 5px;
	background-color: rgba(196,93,91, 0.85);
	z-index:20;
	border-radius: 3px;
	border: 1px solid #bd4a48;
}

div.addBorderShade {
	border-radius: 7px; 	 
	box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.3);
	border: 1px solid; 
}

div.diminishedBorderShade {
	border-radius: 7px; 	 
	box-shadow: 0px 0px 12px 0px rgba(111, 111, 111, 0.3);
	border: 1px solid; 
}

#navlist{
    width: 200px;
    left: 50px;
    top: 20px;
    position: relative;
}


#active a {
	width:180px;
	background-color: #41535E;
	color: white;
}

/*
div.arrow {
	width: 0; 
	height: 0; 
	border-top: 22.5px solid transparent;
	border-bottom: 22.5px solid transparent;
	border-left: 22.5px solid  #a7adb1;
	position: absolute;
	top: 2px;
	left: 200px;
	visibility: hidden;
	z-index: 20;
}
*/

.menuImgs {
	position:absolute;
	left:5px;
	bottom:10px;

}


#footer {
    position: relative;
    left: 0;
    bottom: 0;
	color:white;
	width: 100%;
	min-width : 1280px;
	height:30px;
    background-color: rgba(15,33,44, 0.9);
	text-align: center;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}


#copyright_span {
    position:relative;
    top: 10px;
}

.sectionsButton {
    #background-color:  #E9EAEB;
    width: 135px;
    height: 60px;
    outline: none;
    text-align: left;
    padding-left: 35px;
    font-size: 20px;
    color: #24343E;
    border: 1px solid #babbbc;
    border-radius: 3px;
    margin:0;
}

.sectionsButton:hover {
    #color: #e58700;
}

.sectionsButton.active {
     border: 1px solid orange;
}

#refuellingsButton {
    background: #E9EAEB url('../img/refueling2.png') no-repeat 9px 9px;
}

#refuellingsButton.active, #refuellingsButton:hover {
    background: #dedfe0 url('../img/refueling2.png') no-repeat 9px 9px;
}

#cleaningsButton {
    background:  #E9EAEB url('../img/wash2.png') no-repeat 9px 9px;
}

#cleaningsButton.active, #cleaningsButton:hover {
    background: #dedfe0 url('../img/wash2.png') no-repeat 9px 9px;
}

#servicesButton {
    background:  #E9EAEB url('../img/service2.png') no-repeat 9px 9px;
}

#servicesButton.active, #servicesButton:hover {
    background: #dedfe0 url('../img/service2.png') no-repeat 9px 9px;
}

#revisionsButton {
    background:  #E9EAEB url('../img/revisions2.png') no-repeat 9px 9px;
}

#revisionsButton.active, #revisionsButton:hover {
    background: #dedfe0 url('../img/revisions2.png') no-repeat 9px 9px;
}

#taxesButton {
    background:  #E9EAEB url('../img/dollar3.png') no-repeat 9px 9px;
}

#taxesButton.active, #taxesButton:hover {
    background: #dedfe0 url('../img/dollar3.png') no-repeat 9px 9px;
}

#insurancesButton  {
    background:  #E9EAEB url('../img/umbrella2.png') no-repeat 9px 9px;
}

#insurancesButton.active, #insurancesButton:hover  {
    background: #dedfe0 url('../img/umbrella2.png') no-repeat 9px 9px;
}

#tyresButton {
    background:  #E9EAEB url('../img/tyre2.png') no-repeat 9px 9px;
}

#tyresButton.active, #tyresButton:hover {
    background: #dedfe0 url('../img/tyre2.png') no-repeat 9px 9px;
}

.arrowBtnBinding {
    position:relative;
}

#headerContentWrapper_garage {
    width: 990px;
	height:70px;
	position:relative;
	margin: 0 auto;
	padding:0;
}

#logoDivContainer {
    width: 180px;
    height:50px;
    position:absolute;
    top:10px;
    left:0;
}

#logoDiv {
    width: 180px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0;
    color:orange;
    font-size:38px;
    margin-top:0;
}

#enterShape_top {
    background-color: white;
    width: 35px;
    height: 30px;
    position: relative;
    top:5px;
    left:35px;
    border: 1px solid white;
    border-radius: 3px;
}

#enterShape_bottom {
    background-color: white;
    width: 56px;
    height: 20px;
    position: absolute;
    left: 14px;
    top: 25px;
    border: 1px solid white;
    border-radius: 3px;
}

#enterDiv {
    color: #24343E;
    width: 70px;
    height: 45px;
    position: absolute;
    top:5px;
    left:0;
    font-size: 0.7em;
    text-align: right;
    padding-top:14px;
    padding-right: 2px;
    z-index: 20;
}

#garageDiv {
    height: 45px;
    width: 110px;
    position: absolute;
    left: 70px;
    top: 0px;
    padding-top: 15px;
    font-size: 0.9em;
}

#buttonsMenu {
    width: 975px;
    height: 60px;
    #background-color: #E9EAEB;
    position: relative;
    top: 25px;
    margin: auto;
    padding:0;
}

#buttonsMenuContainer {
    background-color: white;
    width: 990px;
    height: 20%;
    margin: 0 auto;
}

#tableRecords {
    width: 990px;
    padding: 0;
    margin: 0;
    color: #24343E;
}

#tableRecords td {
    border: 1px solid #24343E;
    padding: 4px;
    background-color: white;
    outline : none;
}



#tableRecords input {
    border: 1px solid #E9EAEB;
    outline: none;
    background-color: white;
}

#tableRecords th {
    background-color: white;
    height: 40px;
    padding-top: 15px;
    padding-left: 15px;
    vertical-align:baseline;
    border: 1px solid #24343E;
}

#base_garage {
   	height:100%;
	width: 100%;
	margin:0;
	padding:0;
}


#noRecordsMessage {
    width: 982px;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    color: orange;
    background-color: #E9EAEB;
}