<!DOCTYPE html>
<html lang="en">
<head>
		  {% load staticfiles %}
		  
		  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		  <link href="{% static 'myGarage/material/css/ripples.min.css' %}" rel="stylesheet">
		  <link href="{% static 'myGarage/material/css/material-wfont.min.css' %}" rel="stylesheet">
		  
		  <link rel="stylesheet" type="text/css" href="{% static 'myGarage/css/style.css' %}">
		  <script src="{% static 'myGarage/js/myscripts.js' %}"></script>
          <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
		  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    	  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
          <script src="//code.jquery.com/jquery-1.10.2.js"></script>
          <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
			
		  <script src="{% static 'myGarage/material/js/ripples.min.js' %}"></script>
		  <script src="{% static 'myGarage/material/js/material.min.js' %}"></script>


    {% block head %}	  
    {% endblock %} 
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body>    
    {% block content %}{% endblock %}
    
</body>
</html>