{% extends "garage.html" %}

{% block head %}
	   <script type="text/javascript">
		   $(document).ready(function () {

		        var hrefValue = "insurances";
		        setItemMenuActive(hrefValue);
		        setColumnsWidth();
		        selectRow();

		   });


		   validationsArray = [];
		   //digitsOnlyValidationArray = ['id_revision_cost'];
		   //lettersOnlyValidationArray = ['id_observations', 'id_auto_service_name', 'id_itp'];

	   </script>
{% endblock %}

{% block title %}Insurances{% endblock %}

{% block operations %}
<h2 id="ajax_result">blabla</h2>

<script type="text/javascript">
    $(document).ready(function () {

        var elem = document.getElementById("ajax_result");
        $.get("/ajaxView/", function (data) {
            //alert(data);
            elem.innerHTML = JSON.stringify(data);
        });

    });
</script>

{% endblock %}