{% extends "garage.html" %}

{% block head %}
	  {% load staticfiles %}
	  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
      
	   <script type="text/javascript">
		   $(document).ready(function () {
		        var hrefValue = "refuellings";
		        setItemMenuActive(hrefValue);		        
		        
		        $( "tbody tr:odd" ).css( "background-color", "#F0FFD6" );		        
		        setColumnsWidth();  		        
		              
			    
		   });	
		   
		   validationsArray = [];
		   digitsOnlyValidationArray = ['id_current_mileage', 'id_sum_refuelled', 'id_quantity_refuelled'];
		   					
			
			
			
		   	   
	   </script>
{% endblock %}


{% block title %}Refuellings{% endblock %}

{% block operations %}
	{% if refuellings %}			
	        <table class="records">	
		        <thead>
			        <th>Refuel date</th>
			        <th>Current mileage</th>
			        <th>Sum refuelled</th>
			        <th>Quantity refuelled</th>  
		        </thead>   
	        </table>   
	        <div class="tableDiv" >
		        <table class="records">
	    		{% for record in refuellings %}
		    		<tbody>
			    		<tr>
			    		    <td>{{ record.refuel_date }}</td>
			    		    <td>{{ record.current_mileage }}</td>
			    			<td>{{ record.sum_refuelled }}</td>
			    			<td>{{ record.quantity_refuelled }}</td>    	
			    		</tr>
		    		</tbody>
	    		{% endfor %}  
	    		</table>
    		</div>
    	{% else %}	
    		<p>no refuellings for this car</p>   		  
   		{% endif %}  
   		
   	 <div id="newRow">
   	 <form method="post" action="" onsubmit="return validateTempFields()">
   	 {% csrf_token %}
   	 <span class='addNewRecordTip'> </span>
   	 <table id="tempTable">
   	 	<thead>
   	 		<th>Refuel date</th>
   	 		<th>Current mileage</th>
	        <th>Sum refuelled</th>
	        <th>Quantity refuelled</th> 
   	 	</thead>
   	 	<tbody>
   	 		<tr></tr>
   	 	</tbody>   	 	   	 
   	 </table>
   	 <div id="newRowBtns">
	   	 <input type="submit" class="btnNewRow" value="Add"/>
	   	 <input type="button" id="cancelNewRecord" class="btnNewRow" value="Cancel" onclick="closeNewRow()">
	   	 <!-- <input type="button" id="test" class="btnNewRow" value="test" onclick="validateTempFields()">
	   	 -->
   	 </div>
   	 </form>
   	 </div>	  
   	 
   	 <div id="submenu">
	 	<input type="button" id="addRecord" onclick="addNewRow()" alt="Add new record"/>
	 </div>
  		

{% endblock %}	


	


{% block footer %}
{% endblock %}