{% extends "base.html" %}

{% block head %}
	  {% load staticfiles %}
	   <script type="text/javascript">   
	   
	   
	   </script>	 
{% endblock %}

{% block title %}Garage{% endblock %}

{% block content %}

	
	
	<div id="base">
         <div id="header">
             <div id="carOptions">
                <a href="/logout/" style="color:white;">Click here to logout</a>
                <br>
                <strong> My car{{ cars|pluralize }}</strong>

                <select id="selectedCar" onchange="loadXMLDoc()">
                     {% if firstTime %}
                            <option selected="selected">Select a car</option>
                     {% endif %}
                     {% for car in cars %}
                         <option value="{{ forloop.counter0 }}"
                             {% if selectedCarValue and forloop.counter0 == selectedCarValue %} selected="selected" {% endif %}  >
                                 {{ car.manufacturer_name }} {{ car.model_name }} </option>
                     {% endfor %}
                </select>
             </div>
	     </div>

        <div id="borderDiv">
            <div id="garageLeft" >
                <ul id="navlist">

                    <div class="imgListItemBinding">
                        <img class="menuImgs" src="{% static 'myGarage/img/gas_station.png' %}">
                        <li><a href="/refuellings/">Refuellings</a></li>
                        <div class="arrow"></div>
                    </div>

                    <div class="imgListItemBinding">
                        <img class="menuImgs" src="{% static 'myGarage/img/carWash.png' %}">
                        <li><a href="/cleanings/">Cleanings</a></li>
                        <div class="arrow"></div>
                    </div>

                    <div class="imgListItemBinding">
                        <img class="menuImgs" src="{% static 'myGarage/img/wrench.png' %}">
                        <li><a href="/service/">Service</a></li>
                        <div class="arrow"></div>
                    </div>

                    <div class="imgListItemBinding">
                        <img class="menuImgs" src="{% static 'myGarage/img/revision.png' %}">
                        <li><a href="/revisions/">Revisions</a></li>
                        <div class="arrow"></div>
                    </div>

                    <div class="imgListItemBinding">
                        <img class="menuImgs" src="{% static 'myGarage/img/taxes.png' %}">
                        <li><a href="//">Taxes</a></li>
                        <div class="arrow"></div>
                    </div>

                    <div class="imgListItemBinding">
                        <img class="menuImgs" src="{% static 'myGarage/img/umbrella.png' %}">
                        <li><a href="//">Insurances</a></li>
                        <div class="arrow"></div>
                    </div>

                    <div class="imgListItemBinding">
                        <img class="menuImgs" src="{% static 'myGarage/img/wheel.png' %}">
                        <li><a href="//">Tyres</a></li>
                        <div class="arrow"></div>
                    </div>

                </ul>
            </div>

            <div id="garageRight">
               <div id="operations">
                   {% block operations %}
                        detalii despre masina sau statistici generale ale masinii/userului
                   {% endblock %}
               </div>

            </div>
        </div>

        <div id="footer">
            {% block footer %} {% endblock %}
        </div>
	</div>
	    
	    

{% endblock %}


