{% extends "base.html" %}

{% block head %}
	  {% load staticfiles %}
	  
	  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
      <link href={% static "myGarage/material/css/ripples.min.css" %} rel="stylesheet">
      <link href={% static "myGarage/material/css/material-wfont.min.css" %} rel="stylesheet">
      
	  <link rel="stylesheet" type="text/css" href={% static "myGarage/css/style.css" %}>	
	  <script src={% static "myGarage/js/myscripts.js" %}></script>
{% endblock %}

{% block title %}Home page{% endblock %}

{% block content %}
<div id="header" >
	<h2 id="appMotto">Enter your online garage</h2>	
	    <div id="login">	    
		<form id="login_form" method="post" action="">
	        {% csrf_token %}
	        <div id="username_login">
		        <label for="id_loginUsername">Username</label>  
		        <br/>  		        
		        {{ user_form.loginUsername }} 
	        </div>
	        
	        <div id="password_login">
		        <label for="id_password">Password</label> 
		        <br/>		        
		        {{ user_form.password }}
		        
	        </div>	
	        <input id="login_button" type="submit" value="Log In" />
	    </form>		    
	    </div>    
</div>	

<hr id="header_hr">

<div id="base">
	<div id="borderDiv">	
		<div id="leftside">	  
		   {% if registered %}
		        <strong>thank you for registering!</strong> 	        
		   {% else %}
		        <h2>Sign up - it's fast and free </h2><br />
		
		        <form id="register_form" method="post" action=""
		                enctype="multipart/form-data">
		            {% csrf_token %}	            
		            
		            {{ user_form.non_field_errors }}
		            
		            {{ user_form.username }}	
		            {{ user_form.username.errors}}          
		            </br>		            
		            
		            {{ user_form.password1 }}		            
		            {{ user_form.password1.errors }}		           
		            </br>		    	            
		           
		            {{ user_form.password2 }}		           	
		            {{ user_form.password2.errors }}            
		            </br>		            
		            
		            <div id=carRegister>
		            {{ car_form.manufacturer_name }} 
		            {{ car_form.model_name }}
		            
		            {{ car_form.manufacturer_name.errors }}  		            
		            {{ car_form.model_name.errors }} 
		            <br>   
		            </div>               
		            <input class="btn btn-material-lightgreen" type="submit" name="submit" value=" Sign up " />
		        </form>
		    {% endif %}
		</div>
		
		
        <!--
		<div id="rightside" style="background-image: url('{% static "myGarage/img/tires.jpg" %}');">
		<img src={% static "myGarage/img/transparent.gif" %}  width="100%" height="100%" > 
		</div>	
		-->
		
		<div id="rightside" >
			<img src={% static "myGarage/img/facebook_shot.png" %}  width="100%" height="100%" > 
		<!--<button class="btn btn-material-lime">Deep purple button</button>-->
		</div>			
	</div>		
</div>

{% endblock %}



{% block footer %}

{% endblock %}


<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src={% static "myGarage/material/js/ripples.min.js" %}></script>
<script src={% static "material/js/material.min.js" %}></script>




