{% extends "base.html" %}

{% block head %}	
      {% load staticfiles %}
	  <script type="text/javascript">
		
		
		$(function () { 		  
		  var elements = document.getElementsByClassName('pop');		  
		  var index;
		  for (index = 0; index < elements.length; ++index) {
		  	if (elements[index].getAttribute("data-content")){
		  	    elements[index].className = elements[index].className.replace( /(?:^|\s)noValidationAlert(?!\S)/g , '' )
		  		elements[index].className += " validationAlert";		  				  		
		  	}		  	
		  }
		  
		  		  	
		  $(".pop").popover({ trigger: 'focus', html: 'true'});		  
		  $('.validationAlert').filter(':visible:first').focus();
		  
		  //$('#register_form').find('input[type=text],input[type=password]').filter(':visible:first').focus();	  		 
		  //$(".pop").popover('show');		  
		});
		
		
		function removeValidationAlert(x) {	
			//alert($('document.activeElement'));
			$(x).removeClass('validationAlert'); 
			$(x).addClass('noValidationAlert'); 
		}	
		
	  </script>
{% endblock %}

{% block title %}Home page{% endblock %}

{% block content %}
<div id="header" >
	<h2 id="appMotto">Enter your online garage</h2>	
	    <div id="login">	    
		<form id="login_form" method="post" action="">
	        {% csrf_token %}
	        <div id="username_login">
		        <label for="loginUsername">Username</label>  
		        <br/> 		         
		         <input class="" id="loginUsername" type="text" name="loginUsername" maxlength=30>
	        </div>
	        
	        <div id="password_login">
		        <label for="loginPassword">Password</label> 
		        <br/>	        
		        <input class="" id="loginPassword" type="password" name="loginPassword" maxlength=30>
		        
	        </div>	
	        <input id="login_button" class="btn btn-material-lightgreen"  type="submit" value="Log In" />
	    </form>		    
	    </div>    
</div>	

<hr id="header_hr">

<div id="base">
	<div id="borderDiv">	
		<div id="leftside">	  
		   {% if registered %}
		        <strong>thank you for registering!</strong> 	        
		   {% else %}
		        <h2>Sign up - it's fast and free </h2><br />
		
		        <form class="register_form" method="post" action=""
		                enctype="multipart/form-data">
		            {% csrf_token %}	            
		            
		            {{ user_form.non_field_errors }}
		            	            
         
				    <input class="pop noValidationAlert" type="text" value="{{ tempFields.username }}" data-toggle="popover" data-content="{{ userErrorList.username }}" 
			            	name="username" placeholder="Choose your username" maxlength=30 onkeypress="removeValidationAlert(this)">	            
		      		                   

		            <input class="pop noValidationAlert" type="password" value="{{ tempFields.password1 }}" data-toggle="popover" data-content="{{ userErrorList.password1 }}" 
			            	name="password1" placeholder="New password" maxlength=30 onkeypress="removeValidationAlert(this)">	            
		      		           
		            <input class="pop noValidationAlert" type="password" value="{{ tempFields.password2 }}" data-toggle="popover" data-content="{{ userErrorList.password2 }}" 
			            	name="password2" placeholder="Re-enter new password" maxlength=30 onkeypress="removeValidationAlert(this)">	            
		            
		            <div id=carRegister>	            
			            <input class="pop noValidationAlert" type="text" value="{{ tempFields.carMake }}" data-toggle="popover" data-content="{{ carErrorList.manufacturer_name }}" 
			            	data-placement="bottom" name="manufacturer_name" placeholder="Car make" maxlength=30 onkeypress="removeValidationAlert(this)">
			            <input class="pop noValidationAlert" type="text" value="{{ tempFields.carModel }}" data-toggle="popover" data-content="{{ carErrorList.model_name }}" 
			            	name="model_name" placeholder="Car model" maxlength=30 onkeypress="removeValidationAlert(this)">		             		           
		            </div>      		            
		                     
		            <input id="signUpBtn" class="btn btn-material-deeporange" type="submit" name="submit" value=" Sign up " />
		        </form>
		    {% endif %}
		</div>
		
	    
		
		<div id="rightside" >
			<img src={% static "myGarage/img/facebook_shot.png" %}  width="100%" height="100%" > 
		<!--<button class="btn btn-material-lime">Deep purple button</button>-->
		</div>			
	</div>		
</div>

{% endblock %}



{% block footer %}

{% endblock %}

