{% extends "base.html" %}

{% block title %}Add cleaning{% endblock %}

{% block content %}
    {% if selectedCar %}   
		<strong> the selected car is </strong> {{ selectedCar.manufacturer_name }} 
		<br />	    		
			
		{% if registered %}
	        <strong>You added a new cleaning!</strong>
	        <a href='/'>Go to home page</a>
	        
	     {% else %}	
	     	<strong>Add a new cleaning!</strong><br />        
	
			<form id="new_cleaning" method="post" action="" enctype="multipart/form-data">
		    	{% csrf_token %}
		    	{{ newCleaning.as_p }}  
		   <p style="color:red">{{ newCleaning.cleaning_date.label }} {{ newCleaning.cleaning_date }}</p> 	  
		    	<input type="submit" name="submit" value="Add cleaning" />  	                
		     </form>   
	     {% endif %} 
	 {% else %}  
	 	you have not selected a car!<br />
        <a href='/garage/'>Click here to select a car</a>	     	
     {% endif %}    
     

{% endblock %}
